.cabeçario {
    background-color: #ffffff;
    color: 000000;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    font-size: 20px;
}

header{
  display: flex;
  width: 100%;
  background-color: var(--marinho);
  padding: 1rem;
  position: relative;
  justify-content: center;
}

.menu-disciplina {
  width: 20%;
  display: inline-block;
}


.parte-azul {
    margin: 4px 6px;
}

img.parte-azul {
    width: 99%;
}

.imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
}

.texto-1 {
    display: inline-block;
    margin: 0px 20px;
  }
  
  .imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
  }  

  a{
    text-decoration: none;
    color: #104063;
  }

  .inicio11 {
    background-color: #104063;
    TEXT-ALIGN: center;
    color: #ffffff;
    font-size: 27px;
}

.texto-em-cima1 {
    TEXT-ALIGN: center;
    color:#104063;
    font-size: 27px;
    margin: 17px;
}

